<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	<!-- <link rel="stylesheet" href="../css/sitewide.css"> -->
	
	<!-- pull in webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Asar|Open+Sans" rel="stylesheet"> 

</head>
<body>

	<!-- Page content goes inside the container -->
	<!-- In general, you should have only one container per page. -->
	<div class="container">

        <div class="home"><p><a href="{{ site.url }}{{ site.baseurl }}">Home</a></p></div>

        <div class="title">

        <h1>Title{{ page.title }}</h1>

       <h5> {% if page.date %}
    		<p>{{ page.date | date: "%A, %B %-d, %Y" }}</p>
        {% endif %}</h5>

      

        </div>

        <div class="text-content">
	  {{ content }}
	

        </div>
        
        <div class="image-content">
        </div>	

	</div><!-- end container -->
	
</body>
</html>

